<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>By Sean Duffy</title>
</head>
<body>
    <ul th:if = "${numbers.size()}">
        <th:block th:each="number: ${numbers}">
            <li th:unless = "${number < 0 or number%2 == 1}" th:text="${number}">number list item</li>
        </th:block>
    </ul>

<!--    <ul th:unless = "${numbers.size()}">-->
<!--        <th:block th:each="number: ${numbers}">-->
<!--            <li th:text="${number}">number list item</li>-->
<!--        </th:block>-->
</ul>
</body>
</html>